<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduFree / Navbar</title>
    <link rel="stylesheet" href="../assets/styles/main.css" />
  </head>
  <body>
    <!-- Footer -->
    <footer>
      <div class="bg-primary pt-16">
        <div class="container mx-auto">
          <div class="flex items-start justify-between">
            <!-- Brands -->
            <div>
              <div>
                <h3 class="text-white uppercase font-bold text-2xl">
                  [edufree]
                </h3>
                <p class="text-white text-base font-normal w-[475px] mt-3">
                  Edufree Academy is a program that provides a step guide for
                  planning, creating, and launching an online course.
                </p>
              </div>
              <div class="mt-28 inline-block">
                <div
                  class="bg-warning rounded-t-md py-4 px-7 flex items-center gap-7"
                >
                  <div>
                    <p class="text-triary text-lg font-medium">Email</p>
                    <span class="text-triary text-base font-normal"
                      >zeronosvegaaltair@gmail.com</span
                    >
                  </div>
                  <div>
                    <p class="text-triary text-lg font-medium">Telephone</p>
                    <span class="text-triary text-base font-normal inline-block"
                      >0853-5259-4403</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Menus -->
            <div class="flex items-start gap-24">
              <div>
                <h5 class="md:text-lg xl:text-xl text-white font-medium">
                  Social Media
                </h5>
                <div class="flex flex-col gap-2 mt-5">
                  <a href="" class="text-white font-normal text-base"
                    >Facebok</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Instagram</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Twitter</a
                  >
                </div>
              </div>

              <div>
                <h5 class="md:text-lg xl:text-xl text-white font-medium">
                  Our Program
                </h5>
                <div class="flex flex-col gap-2 mt-5">
                  <a href="" class="text-white font-normal text-base"
                    >Enteupreneur</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Content Creator</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Digital Era</a
                  >
                </div>
              </div>

              <div>
                <h5 class="md:text-lg xl:text-xl text-white font-medium">
                  Dukungan
                </h5>
                <div class="flex flex-col gap-2 mt-5">
                  <a href="" class="text-white font-normal text-base"
                    >Tentang Kami</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Ketentuan</a
                  >
                  <a href="" class="text-white font-normal text-base"
                    >Kebijakan Privasi</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white border">
        <div class="container mx-auto py-6">
          <div class="flex items-center justify-between">
            <span class="text-lg text-triary font-medium"
              >Copyright © 2024 EduFree. All Right Reserved</span
            >
            <ul class="flex items-center gap-9">
              <li>
                <a href="" class="text-base text-triary font-normal uppercase"
                  >Home</a
                >
              </li>
              <li>
                <a href="" class="text-base text-triary font-normal uppercase"
                  >Tentang Kami</a
                >
              </li>
              <li>
                <a href="" class="text-base text-triary font-normal uppercase"
                  >Kursus</a
                >
              </li>
              <li>
                <a href="" class="text-base text-triary font-normal uppercase"
                  >FAQ</a
                >
              </li>
              <li>
                <a href="" class="text-base text-triary font-normal uppercase"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Preline Js -->
    <script src="./node_modules/preline/dist/preline.js"></script>
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
